<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fb.dao.AdminDao">
    <select id="selectAdmin" parameterType="map" resultType="map">
        select * from bf_user WHERE user_name = #{data.userName} AND  user_pass = #{data.passWord};
    </select>

    <insert id="addUser" parameterType="com.fb.entity.User">
        insert into bf_user (user_name, phone, sex, userStatus, userGrade) values (#{userName},#{phone},#{sex},#{userStatus},#{userGrade});
    </insert>

    <select id="showUserInfo" resultType="map">
        SELECT * from bf_user;
    </select>

    <delete id="delUser" parameterType="String">
        DELETE FROM bf_user WHERE id = #{id};
    </delete>

    <select id="showUserInfoById" parameterType="String" resultType="map">
        select * from bf_user WHERE id = #{id};
    </select>

    <update id="updateUser" parameterType="com.fb.entity.User">
        UPDATE bf_user
        <set>
            <if test="userName != null">
                bf_user.user_name = #{userName},
            </if>
            <if test="phone != null">
                bf_user.phone = #{phone},
            </if>
            <if test="sex != null">
                bf_user.sex = #{sex},
            </if>
            <if test="userStatus != null">
                bf_user.userStatus = #{userStatus},
            </if>
            <if test="userGrade != null">
                bf_user.userGrade = #{userGrade}
            </if>
        </set>
        WHERE bf_user.id = #{id}
    </update>
</mapper>